<?xml version="1.0"?>
<configuration>
  <!-- 
      Chassis Manager Information
  -->
  <appSettings>
    <add key="CMIPAddress" value="192.168.150.67"/>
    <add key="CMSubnetMask" value="255.255.0.0"/>
    <add key="CMMacAddress" value="08:9E:01:DC:AB:73"/>
    <add key="CMBiosName" value="CMMTHDVT01"/>
    <add key="CMDomain" value="wcs.lab"/>
    <add key="CM_URL" value="https://CMMTHDVT01:8000"/>
    <add key ="LESEnabled" value="true"/>
    <!-- 
  Specifics from Blades.
  -->
    <add key="firmwareVersion" value="02.05"/>
    <add key="hardwareVersion" value="WCS Mt.Glacier"/>
    <!-- 
  Number of hard disks for Server blades.
  -->
    <add key="ServerDiskCount" value="4"/>
    <!-- 
  Number of hard disks for JBOD blades.
  -->
    <add key="JBODDiskCount" value="10"/>
    <!-- 
  Blade Memory Information.
  -->
    <add key="TotalDIMMCount" value="12"/>
    <add key="PopulatedDIMMCount" value="6"/>
    <add key="DIMMType" value="DDR3"/>
    <add key="DIMMVoltage" value="V13"/>
    <add key="DIMMsize" value="16384"/>
    <add key="DIMMspeed" value="1333"/>

    <!-- 
  Blade PCI Information.
  -->
    <add key="PCIeCount" value="3"/>
    <add key="PCIedeviceId" value="4099"/>
    <add key="PCIesubSystemId" value="35221"/>
    <add key="PCIesystemId" value="5421"/>
    <add key="PCIevendorId" value="5555"/>
    <!--Mellanox PCIE
    -->
    <add key="MellanoxPCIedeviceId" value="5463"/>
    <add key="MellanoxPCIesubSystemId" value="35221"/>
    <add key="MellanoxPCIesystemId" value="5421"/>
    <add key="MellanoxPCIevendorId" value="5555"/>
    <!-- 
  Blade Processor Information.
  -->
    <add key="ProcCount" value="2"/>
    <add key="Procfrequency" value="2100"/>
    <add key="ProcType" value="IntelCorei3"/>
    <!-- 
  Number of blades in chassis.
  -->
    <add key="Population" value="24"/>

    <!--
  Number of fans in chassis.
  -->
    <add key="NumFans" value="6"/>
    <!-- 
  Number of PSUs in chassis.
  -->
    <add key="NumPsus" value="6"/>
    
    <!-- 
  Number of power switches (aka AC sockets) in chassis.
  -->
    <add key="NumPowerSwitches" value="3"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>

  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
